Repository intel/hexl-fpga: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --recursive

added license and fixed pre-commit mal-formatting
  device/keyswitch.cl
  device/keyswitch/channels.h
  device/keyswitch/common.h
  device/keyswitch/dyadmult.cl
  device/keyswitch/intt1.cl
  device/keyswitch/intt1_forward.cl
  device/keyswitch/intt1_redu.cl
  device/keyswitch/intt2.cl
  device/keyswitch/intt2_forward.cl
  device/keyswitch/intt2_redu.cl
  device/keyswitch/intt_core.cl
  device/keyswitch/load.cl
  device/keyswitch/ms.cl
  device/keyswitch/ntt1.cl
  device/keyswitch/ntt2.cl
  device/keyswitch/ntt_core.cl
  device/keyswitch/store.cl
  device/lib/hls/mod_ops.cpp
Due: clang-format, cpplint

examples to use the default dyadic_multiply_keyswitch kernel bitstream
  examples/CMakeLists.txt
Due: none

added instructions to download and use testdata for Keyswitch related tests
  README.md
Due: none

testdata to be attached in v1.1
  README.md
Due: none

testdata to be attached in v1.1
  docs/v1.1/doxygen/html/md__disk1_ymeng12_hexl-fpga_README.html
  docs/v1.1/doxygen/latex/md__disk1_ymeng12_hexl-fpga_README.tex
  docs/v1.1/doxygen/xml/README_8md.xml
  docs/v1.1/doxygen/xml/md__disk1_ymeng12_hexl-fpga_README.xml
Due: none

update CI to run on development and main
  .github/workflows/ci.yml
Due: none

added Dennis into the contributor list
  README.md
Due: none

added Dennis into the contributor list (#12)
  README.md
Due: none

Dispatch the twiddle factors for ntt2 in every cycle
  device/keyswitch/channels.h
  device/keyswitch/load.cl
  device/keyswitch/ntt_core.cl
  device/keyswitch/twiddle_factors.cl
Due: clang-format, cpplint

Merge the optimzation to unify the step two of twiddle factors dispatching
  device/keyswitch/ntt_core.cl
  device/keyswitch/twiddle_factors.cl
Due: clang-format

added util script to compare performance
  perf-cmp.sh
Due: none

initial commit for keyswitch performance comparison between hexl and hexl-fpga
  CMakeLists.txt
  benchmark/CMakeLists.txt
  benchmark/bench_keyswitch.cpp
  benchmark/main.cpp
  cmake/intel-hexl/intel-hexl.cmake
  run.sh
Due: clang-format, cpplint

moved the utility script perf-cmp.sh into utils
  utils/perf-cmp.sh
Due: none

sync to HEXL v1.2.4 for FPGA compatibility support
  CMakeLists.txt
  cmake/intel-hexl/intel-hexl.cmake
Due: none

Move the last sum and reduce to the device
  benchmark/bench_keyswitch.cpp
  host/inc/fpga.h
  host/src/fpga.cpp
  tests/test_keyswitch.cpp
Due: clang-format, cpplint

double buffering the keyswitch kernel
  host/inc/fpga.h
  host/src/fpga.cpp
Due: clang-format, cpplint

Add the NUM_KEYSWITCH_LATENCY feature
  host/inc/fpga.h
  host/src/fpga.cpp
Due: clang-format, cpplint

clean the code
  host/src/fpga.cpp
Due: clang-format, cpplint

Fix the bug when the left size is smaller than the latency
  host/inc/fpga.h
  host/src/fpga.cpp
Due: clang-format, cpplint

Add warm up code to make the benchmark more accurate
  benchmark/bench_keyswitch.cpp
Due: clang-format, cpplint

Move the final sum and reduce to the main thread in order to remove the fpga pipeline bottleneck
  host/src/fpga.cpp
  tests/test_keyswitch.cpp
Due: clang-format, cpplint

Block write to perf the kernels
  host/src/fpga.cpp
Due: clang-format, cpplint

Add the perf-kernels.sh script
  utils/perf-kernels.sh
Due: none

warm up the fpga kernels
  benchmark/bench_keyswitch.cpp
Due: clang-format, cpplint

Support prime bits up to 60
  device/keyswitch/channels.h
  device/keyswitch/common.h
  device/keyswitch/dyadmult.cl
  device/keyswitch/intt2_core.cl
  device/keyswitch/intt_core.cl
  device/keyswitch/load.cl
  device/keyswitch/ms.cl
  device/keyswitch/ntt_core.cl
  device/lib/hls/mod_ops.cpp
  device/lib/hls/mod_ops.h
  host/inc/fpga.h
  host/src/fpga.cpp
Due: clang-format, cpplint

added experimental bridge to integrate with seal
  experimental/README.md
  experimental/bridge-seal/CMakeLists.txt
  experimental/bridge-seal/README.md
  experimental/bridge-seal/cmake/hexl.cmake
  experimental/bridge-seal/cmake/seal.cmake
  experimental/bridge-seal/patches/hexl-fpga-BRIDGE-seal-4.0.0.patch
  experimental/bridge-seal/tests/CMakeLists.txt
  experimental/bridge-seal/tests/cmake/gflags.cmake
  experimental/bridge-seal/tests/fpga_context.h
  experimental/bridge-seal/tests/keyswitch-example.cpp
Due: clang-format, cpplint

minor update
  experimental/README.md
  experimental/bridge-seal/README.md
Due: none

update the README.md
  experimental/bridge-seal/README.md
Due: none

added ci for experimental tests
  .github/workflows/ci.yml
  experimental/bridge-seal/README.md
  experimental/bridge-seal/tests/CMakeLists.txt
  experimental/bridge-seal/tests/bitstream_dir.sh
  experimental/bridge-seal/tests/seal_test.sh
Due: none

use gbenchmark v1.6.1
  cmake/gbenchmark/CMakeLists.txt.in
Due: none

fix hexl-fpga install path
  .github/workflows/ci.yml
Due: none

added experimental integration with external libraries (#16)
  .github/workflows/ci.yml
  cmake/gbenchmark/CMakeLists.txt.in
  experimental/README.md
  experimental/bridge-seal/CMakeLists.txt
  experimental/bridge-seal/README.md
  experimental/bridge-seal/cmake/hexl.cmake
  experimental/bridge-seal/cmake/seal.cmake
  experimental/bridge-seal/patches/hexl-fpga-BRIDGE-seal-4.0.0.patch
  experimental/bridge-seal/tests/CMakeLists.txt
  experimental/bridge-seal/tests/bitstream_dir.sh
  experimental/bridge-seal/tests/cmake/gflags.cmake
  experimental/bridge-seal/tests/fpga_context.h
  experimental/bridge-seal/tests/keyswitch-example.cpp
  experimental/bridge-seal/tests/seal_test.sh
Due: clang-format, cpplint

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|cl|h|hpp|hxx)$, but not: ^(host/common/)
  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: ^(host/common/)
